<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_URI} !\.(gif|png|jpe?g|ico|swf|js|css|pdf|eot|woff|ttf|svg)$ [NC]
	RewriteCond %{REQUEST_FILENAME} !\.(gif|png|jpe?g|ico|swf|js|css|pdf|eot|woff|ttf|svg)$ [NC]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
